@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.navigation{
    display: flex;
}

.nav-title h3{
    font-size: 20px;
}

.navigation li{
    list-style: none;
    margin: 10px;
}

.navigation a{
    text-decoration: none;
    color: black;
}

/*-------------- 
navbar start 
---------------*/
#nav-toggler{
    display: none;
}
.nav-toggler-icon{
    display: none;
    font-size: 30px;
}

/*-----------------------
   section-1 style here
------------------------*/

.parts-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5%;
}

.part1-title{
    font-size: 40px;
    white-space: nowrap;
    position: relative;
    color: transparent;
}
.part1-title::before{
    content: 'Being an Influencer Here..';
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    animation: typing 4s linear infinite;
}

@keyframes typing {
    0%{
        content: 'B|';
    }
    3%{
        content: 'Be|';
    }
    6%{
        content: 'Bei|';
    }
    9%{
        content: 'Bein|';
    }
    12%{
        content: 'Being|';
    }
    15%{
        content: 'Being |';
    }
    18%{
        content: 'Being an|';
    }
    21%{
        content: 'Being an |';
    }
    23%{
        content: 'Being an I|';
    }
    26%{
        content: 'Being an In|';
    }
    28%{
        content: 'Being an Inf|';
    }
    31%{
        content: 'Being an Infl|';
    }
    34%{
        content: 'Being an Influ|';
    }
    37%{
        content: 'Being an Influe|';
    }
    40%{
        content: 'Being an Influen|';
    }
    43%{
        content: 'Being an Influence|';
    }
    45%{
        content: 'Being an Influencer|';
    }
    48%{
        content: 'Being an Influencer |';
    }
    51%{
        content: 'Being an Influencer H|';
    }
    54%{
        content: 'Being an Influencer He|';
    }
    57%{
        content: 'Being an Influencer Her|';
    }
    60%{
        content: 'Being an Influencer Here|';
    }
    62%{
        content: 'Being an Influencer Here.|';
    }
    65%{
        content: 'Being an Influencer Here..|';
    }
    68%,
    76%{
        content: 'Being an Influencer Here..|';
    }
    77%{
        content: 'Being an Influencer Here.|';
    }
    78%{
        content: 'Being an Influencer Here|';
    }
    79%{
        content: 'Being an Influencer Her|';
    }
    80%{
        content: 'Being an Influencer He|';
    }
    81%{
        content: 'Being an Influecer H|';
    }
    82%{
        content: 'Being an Influencer |';
    }
    83%{
        content: 'Being an Influencer|';
    }
    84%{
        content: 'Being an Influence|';
    }
    85%{
        content: 'Being an Influenc|';
    }
    86%{
        content: 'Being an Influe|';
    }
    87%{
        content: 'Being an Influ|';
    }
    88%{
        content: 'Being an Infl|';
    }
    89%{
        content: 'Being an Inf|';
    }
    90%{
        content: 'Being an In|';
    }
    91%{
        content: 'Being an I|';
    }
    92%{
        content: 'Being an|';
    }
    93%{
        content: 'Being a|';
    }
    94%{
        content: 'Being |';
    }
    95%{
        content: 'Bein|';
    }
    96%{
        content: 'Bei|';
    }
    97%{
        content: 'Be|';
    }
    98%{
        content: 'B|';
    }
    99%{
        content: '|';
    }
    100%{
        content: '|';
    }

}

.part1-left{
    width: 528px;
    height: 270px;
    flex: 1;
    display: flex;
    margin: 5%;
}

.part1-right{
    width: 440px;
    height: 414px;
    flex: 1;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10%;
}
.button{
    font-size: 18px;
    padding: 10px 30px;
    color: white;
    background-color: rgb(216, 46, 139);
    border-radius: 20px;
    cursor: pointer;
}

/* -----------
  part-1 end 
------------*/

/*------------------------------ 
Collection part start here 
--------------------------------*/


.collections{
    
    display: grid;
    justify-content: center;
    
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    
}
.collection{
    box-shadow: 0 30px 30px rgba(0,0,0,0.2) ;
    border-radius: 5%;
}

.collection-info h3{
    font-size: 22px;
}
.collection-info h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 2%;
    font-size: 19px;
}

.collection-title{
    text-align: center;
    padding: 10% 5% 5% 5%;
    font-size: 30px;
}


.collections .collection-banner img{
    width: 300px;
    height: 256px;
}

.collection-ratings{
    display: flex;
    justify-content: center;
}
.collection-ratings p{
    padding-left: 15px;
}
.collection-all{
    text-align: center;
}

.collection-about{
    color: gray;
    padding-bottom: 3%;
}

.fa-star{
    font-size: 12px;
}
.fa-star.fill{
    color: gold;
}
.fa-star.empty{
    color: gray;
}

.see-more{
    padding: 4%;
    text-align: right;    
}

.see-more a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(216, 46, 139);
}

/*----------------------------- 
product section start here 
------------------------------*/

.product{
    display: flex;
    align-items: center;
    padding: 5% 10%;
}

.product-banner img{
    width: 70%;
}
.product-title{
    width: 50%;
}
.product-title h2{
    font-size: 30px;
}

/*---------------------- 
footer start here 
--------------------*/

footer{
    background-color: rgb(3, 8, 32);
    padding: 2% 5%;
}
.footer-main{
    padding-top: 2%;
}

.footer-all{
    color: white;
    text-align: center;
}
.footer-media{
    text-align: center;
    padding: 1%;
    font-size: 25px;
}
.footer-media a{
    color: white;
    padding: 1%;
}


@media only screen and (max-width:688){
    html,
    body{
        overflow-x: hidden;
        max-width: 100%;
        scroll-behavior: smooth;
    }
}
@media (max-width:990px){
    .collections{
        grid-template-columns: 1fr 1fr;
    }
    .part1-left h1{
        font-size: 35px;
    }
}

@media (max-width:800px){
    .parts-1{
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .part1-left{
        order: 2;
    }
    .collections{
        grid-template-columns: 1fr;
    }
    .nav-toggler-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(10, 1, 1, 0.397);
        padding: 20px 0;
        transform: translateY(-360px);
        transition: .6s ease-in-out;
    }
    .navigation li a{
        color: white;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(0px);
    }
}






